
body{
    background: linear-gradient(to bottom, blue, purple, red);
    color: white;
    
}

nav{
    display: flex;
  justify-content: space-evenly;  /* Spreads items evenly */
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

nav a {
    color: white;
}

.content1{
    position: relative;
          display: flex;
          justify-content: space-around;
          
}

.h1{
    max-width: 100%;
}

.stock1{
    border-radius: 50px;

}

.h2{
    float: right;

}

.graduation{
    height: 500px;
    top: 50px;
    position: relative;
    border-radius: 40px;
}

.aboutMe{
    text-align: center;
    width: 500px;
    margin: 0 auto;
 
 
}

.disney1{
    width: 200px;
    border-radius: 40px;
}

div { float: left;
    text-align: center;
    width: 33%;}
