
body{
    background: linear-gradient(to bottom,  rgb(36, 35, 35), rgb(10, 10, 70), rgb(3, 3, 150));
    color: white;
    font-family:Arial, Helvetica, sans-serif
    
}

nav{
    display: flex;
  justify-content: space-evenly;  
  list-style: none;
  padding: 0;
  margin: 0 20px;
  font-weight: bold;
}

 a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

.content1{
    position: relative;
          display: flex;
          justify-content: space-around;
          
}

.h1{
    max-width: 100%;
}

.stock1{
    border-radius: 50px;

}

.h2{
    float: right;

}

.graduation{
    height: 500px;
    top: 50px;
    position: relative;
    border-radius: 40px;
}

.aboutMe{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(31, 29, 29)
 
 
}

.disney1{
    width: 200px;
    border-radius: 40px;
}

.fix2{
    text-align: center;
}

.skills div { float: left;
                text-align: center;
                width: 33%;
                background-color: rgb(31, 29, 29);
                border: solid white 2px;
                border-radius: 20px;}


.ph{
    text-align: center;
}

.projects div{
    float: left;
    text-align: center;
    width: 32%;
    margin: auto;
    background-color: rgb(31, 29, 29);
    border: 2px solid white;
    border-radius: 20px;
    
}

.projects h3{
    border: 2px solid white;
    border-radius: 20px;
    width: 90%;
}

.fix{
    position: relative;
    top: 2px;
}
.contactme{
    text-align: center;

  
}

.contactme div{
    margin: auto;
    text-align: center;
}

.linkedin{
    width: 70px;
}
.twitter {
    width: 70px;
}

.gmail{
    width: 70px;
}

